<header class="header-container">
  <div class="header-logo">
    <a href="/"><img src="/img/Huerto-market.png" alt="Logo" class="logo" /></a>
    <div class="account-container">
      <i class="fas fa-user"></i>
      <a href="/logIn" class="account">Mi cuenta</a>
    </div>
    <div class="cart-container">
      <button type="submit" class="heart"><i class="fas fa-heart"></i></i></button>

      <a href="../products/productCart" class="cart"
        ><i class="fas fa-shopping-cart"></i
      ></a>
    </div>
  </div>
  <nav id="menu" class="menu-container">
    <ul class="menu-list">
      <button class="close"><i class="fas fa-times"></i></button>
      <li class="list"><a href="/products">Productos</a></li>
      <li class="list"><a href="/envios">Sucursales</a></li>
      <li class="list"><a href="#">Nosotros</a></li>
      <li class="list"><a href="#">Contacto</a></li>
      <li class="list"><a href="/register">Registro</a></li>
      <li class="list"><a href="#">FAQ</a></li>
    </ul>
  </nav>
  <div>
    <button id="menu-button"><i class="fas fa-bars burger"></i></button>
  </div>
  <div class="search">
    <div class="search-bar">
      <input type="text" placeholder="Buscar productos" />
    </div>
    <button class="submit lupa"><i class="fa fa-search"></i></button>
  </div>
  <div class="header-image">
    <img src="/img/healthy-lunch-banner.jpg" alt="imagen de header" />
    <div class="header-title">
      <h2 class="h2">HUERTO MARKET</h2>
      <p class="p">Comer rico hace bien</p>
    </div>
  </div>
  <div id="encabezado">
    <i class="fas fa-hand-paper"> </i><a href="/help">AYUDA</a> 
    <i class="fas fa-truck"> </i><a href="/envios">ENVÍOS</a>
    <i class="fas fa-phone-alt"></i> ATENCIÓN AL CLIENTE
  </div>
</header>
