<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/css/other-pages.css" />
  </head>

  <body>
    <%- include("./partials/header.ejs") %>
    <main class="help-container">
      <section class="seleccionar-productos">
        <h1>¿Cómo seleccionar los productos?</h1>
        <img src="/img/ayuda.png" alt="ayuda" />
      </section>
      <section class="seleccionar-productos">
        <h1>¿Cómo realizar la compra?</h1>
        <img src="/img/carrito-compra.png" alt="carrito" />
      </section>
    </main>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
