<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/css/home.css" />
</head>

<body>
  <%- include("./partials/header.ejs") %>
    <main class="main-container">
      <section class="products">
        <h2 class="h2">Productos</h2>
        <div class="product-container">
          <article class="product-article">
            <img src="/img/products/miel-beepure.png" alt="miel-beepure" />
            <p class="p">Miel Líquida, Beepure. Ideal para completar tus desayunos.</p>
            <button class="search-btn"><a href="/products/productDetail/:id">Comprar</a></button>
          </article>
          <article class="product-article">
            <img src="img/products/icecream.jpg" alt="ice-cream" />
            <p class="p">
              Helados hechos con jugos naturales. La mejor forma de combatir el
              verano.
            </p>
            <button class="search-btn"><a href="/products/productDetail/">Comprar</a></button>
          </article>
          <article class="product-article">
            <img src="/img/products/muffins.jpeg" alt="muffins" />
            <p class="p">Muffins con avena y frutas. Especial para los golosos.</p>
            <button class="search-btn"><a href="/products/productDetail">Comprar</a></button>
          </article>
        </div>
        <article class="product-section">
          <div class="container">
            <img src="/img/pollo.jpeg" alt="imagen de productos" />
            <div class="descripcion-producto">
              <p class="p">Investigá más sobre nuestros productos aquí</p>
              <button class="search-btn"><a href="/products">Productos</a></button>
            </div>
          </div>
        </article>
      </section>

      <!--Carrousel sacado de w3school-->
      <section class="carrousel-conteiner">
        <div class="slide1 efecto">
          <img src="/img/sliced-fruits-banner.jpg" alt="foto1" />
          <p>Colores deliciosos</p>
        </div>
        <div class="slide efecto">
          <img src="/img/healthy-lunch-banner.jpg" alt="foto2" />
          <p>Sentirse bien incluye comer saludable</p>
        </div>
        <div class="slide efecto">
          <img src="/img/hole.png" alt="foto3" />
        </div>
        <div class="slide efecto">
          <img src="/img/hola.png" alt="foto3" />
        </div>

        <a class="pre" onclick="plussSlide(-1)"><i class="fas fa-angle-left"></i></a>
        <a class="sig" onclick="plussSlide(1)"><i class="fas fa-angle-right"></i></a>

        <div class="dot-container">
          <span class="dot" onclick="currentSlide1"><i class="far fa-circle"></i></span>
          <span class="dot" onclick="currentSlide2"><i class="far fa-circle"></i></span>
          <span class="dot" onclick="currentSlide3"><i class="far fa-circle"></i></span>
        </div>
      </section>


      <div class="us-container">
        <section class="quienes-somos" id="about-us">
          <h2 class="h2">Quienes somos</h2>
          <article class="us-article">
            <h4 class="h4">Nuestra misión</h4>
            <p class="p">
              Ofrecer alimentos saludables y nutritivos que ayuden a mejorar la
              alimentación y a conectarnos con la naturaleza desde un nuevo lugar.
              Ofrecemos un servicio que permitirá conocer alternativas para tus
              comidas y conseguirlas de una forma simple, segura y rápida.
            </p>
          </article>
          <article class="us-article">
            <h4 class="h4">¿Cómo lo hacemos?</h4>
            <p class="p">
           Trabajamos constantemente junto a un equipo de especialistas 
           en nutrición, salud y buenas prácticas para ofrecerte los mejores productos del mercado.
           En Huerto Market buscamos constantemente brindar soluciones para una vida saludable en todos sus aspectos,
            a través de productos conscientes y alimentos naturales con responsabilidad social y ambiental.
            </p>
          </article>
        </section>

        <section class="noticias" id="news">
          <h3 class="h3">Noticias</h3>
          <div class="news-container">
            <div class="news img">
              <img src="/img/credit-card.jpg" alt="noticias" class="news-img" />
            </div>
            <article class="news-article">
              <p class="p">
                Esta semana tenés descuentos de hasta el 30% comprando con tarjeta
                de crédito.
              </p>
          </div>
          </article>
      </div>
      </section>

      <section class="sucursales" id="braches">
        <h2 class="h2">Sucursales</h2>
        <div class="sucursal-container">
          <article class="sucursal-article">
            <img src="/img/sucursal.png" alt="sucursale1" class="sucursal1" />
            <div class="sucursal-item">
              <p class="p">Cosme 1380.</p>
              <p class="p">Tel. 1385782</p>
            </div>
          </article>
          <article class="sucursal-article">
            <div class="sucursal-item">
              <p class="p">Fulanito 125</p>
              <p class="p">Tel. 4892471</p>
            </div>
            <div class="sucursal-image">
              <img src="/img/sucursal.png" alt="sucursal2" class="sucursal2" />
            </div>
          </article>
          <article class="sucursal-article">
            <img src="/img/sucursal.png" alt="sucursal3" class="sucursal1" />
            <div class="sucursal-item">
              <p class="p">Calle Falsa 123</p>
              <p class="p">Tel. 9876424</p>
            </div>
          </article>
      </section>
      </div>
      <section class="reseñas">
        <h2 class="h2">Reseñas</h2>
        <img src="/img/reseñas.png" alt="reseñas">
      </section>
    </main>
    <%- include("./partials/footer.ejs") %>
</body>
</html>