<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/css/forms.css" />
  </head>

  <body>
    <%- include ("./partials/header.ejs") %>

    <main class="main-container">
      <h2 class="title">Agregar o modificar productos</h2>
      <form action="/products" method="POST" class="form-menu">
        <div class="form-item">
          <label for="name" class="fomr-label">Nombre del producto</label>
          <input
            type="text"
            name="name"
            id="name"
            class="form-input"
            required
          />
        </div>
        <div class="form-item">
          <label for="picture" class="form-label">Foto</label>
          <input type="file" name="picture" id="picture" class="form-input" />
        </div>
        <div class="form-item">
          <label for="price">Precio</label>
          <input
            type="text"
            name="price"
            id="price"
            class="form-input"
            required
          />
        </div>
        <div class="form-item">
          <label for="brand" class="form-label">Marca</label>
          <input type="text" name="brand" id="brand" class="form-input" />
        </div>
        <div class="form-item">
          <label for="description" class="form-label">Descripción</label>
          <input
            type="text"
            name="description"
            id="description"
            class="form-input description"
          />
        </div>
        <div class="form-item">
          <p class="form-label">Categorías</p>
          <div class="check-box">
            <div class="check">
              <input
                type="checkbox"
                name="category"
                id="tacc"
                class="form-input checkbox"
              />
              <label for="tacc">Sin tacc</label>
            </div>
            <div class="check">
              <input
                type="checkbox"
                name="category"
                id="sodio"
                class="form-input checkbox"
              />
              <label for="sodio" class="form-label">Bajo en sodio</label>
            </div>
            <div class="check">
              <input
                type="checkbox"
                name="category"
                id="vegan"
                class="form-input checkbox"
              />
              <label for="vegan" class="form-label">Apto vegano</label>
            </div>
            <div class="check">
              <input
                type="checkbox"
                name="category"
                id="vegetariano"
                class="form-input checkbox"
              />
              <label for="vegetariano" class="form-label">Vegetariano</label>
            </div>
            <div class="check">
              <input
                type="checkbox"
                name="category"
                id="postre"
                class="form-input checkbox"
              />
              <label for="postre" class="form-label">Postre</label>
            </div>
            <div class="check">
              <input
                type="checkbox"
                name="category"
                id="galleta"
                class="form-input checkbox"
              />
              <label for="galleta" class="form-label">Galleta</label>
            </div>
          </div>
        </div>
        <button type="submit" class="search-btn">Guardar</button>
      </form>
    </main>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
