<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrito de productos</title>

    <!--Poppins Regular 400-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />

    <!--Yusei Magic Regular 400-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap"
      rel="stylesheet"
    />

    <!--Fonts awesome-->
    <link
      rel="stylesheet"
      href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css "
    />

    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/productCart.css" />
    <link rel="stylesheet" href="/css/footer.css" />
  </head>
  <body>
    <header>
      <div class="header-logo">
        <a href="/"
          ><img src="/img/Huerto-market.png" alt="Logo" class="logo"
        /></a>
        <div class="account-container">
          <i class="fas fa-user"></i>
          <a href="/logIn" class="account">Mi cuenta</a>
        </div>
        <div class="cart-container">
          <button type="submit" class="heart">
            <i class="far fa-heart"></i>
          </button>

          <a href="/productCart" class="cart"
            ><i class="fas fa-shopping-cart"></i
          ></a>
        </div>
      </div>
      <nav id="menu">
        <ul class="menu-list">
          <button class="close"><i class="fas fa-times"></i></button>
          <li><a href="/productDetail">Productos</a></li>
          <li><a href="#">Sucursales</a></li>
          <li><a href="#">Nosotros</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="register">Registro</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </nav>
      <div>
        <button id="menu-button"><i class="fas fa-bars burger"></i></button>
      </div>
      <div class="search">
        <div class="search-bar">
          <input type="text" placeholder="Buscar productos" />
        </div>
        <button class="submit lupa"><i class="fa fa-search"></i></button>
      </div>
      <div class="header-image">
        <img src="/img/healthy-lunch-banner.jpg" alt="imagen de header" />
        <div class="header-title">
          <h2>HUERTO MARKET</h2>
          <p>Comer rico hace bien</p>
        </div>
      </div>
      <div id="encabezado">
        <i class="fas fa-hand-paper"> </i>AYUDA
        <i class="fas fa-truck"> </i>ENVÍOS
        <i class="fas fa-phone-alt"></i> ATENCIÓN AL CLIENTE
      </div>
    </header>

    <main>
      <section id="titulo">
        <div class="contenedor-titulo">
          <h1>TU PEDIDO:</h1>
          <h3>Te estás llevando 4 productos.</h3>
        </div>
      </section>
      <section class="volver">
        <button>
          <i class="fas fa-arrow-circle-left"></i>Seguir comprando
        </button>
      </section>
      <div class="container">
        <div class="product-container">
          <section class="contenedor-subtitulos">
            <h2 class="productos">Productos</h2>
            <h2 class="precio">Precio</h2>
            <h2 class="cantidad">Cantidad</h2>
            <h2 class="total">Total</h2>
          </section>

          <section class="product-list">
            <article class="contenedor-articulo">
              <img
                src="/img/miel-beepure.png"
                width="120"
                height="120"
                alt=" Miel Beepure"
              />
              <div class="product-item">
                <p class="product-description">Miel líquida, Beepure. 500gr</p>

                <p class="product-price">$560</p>
                <div class="contar">
                  <button class="plus">-</button>
                  <input type="number" name="cantidad" id="cantidad" />
                  <button class="less">+</button>
                </div>
                <div class="product-total">
                  <p class="total-price">TOTAL</p>
                  <p>$560</p>
                  <i class="fas fa-trash-alt"></i>
                </div>
              </div>
            </article>
            <article class="contenedor-articulo">
              <img
                src="/img/mantequilla-de-coco.png"
                width="120"
                height="120"
                alt="Mantequilla de coco"
              />
              <div class="product-item">
                <p class="product-description">
                  Mantequilla de Coco, Byour. 185gr
                </p>

                <p class="product-price">$400</p>
                <div class="contar">
                  <button class="plus">-</button>
                  <input type="number" name="cantidad" id="cantidad" />
                  <button class="less">+</button>
                </div>
                <div class="product-total">
                  <p class="total-price">TOTAL</p>
                  <p>$400</p>
                  <i class="fas fa-trash-alt"></i>
                </div>
              </div>
            </article>
            <article class="contenedor-articulo">
              <img
                src="/img/mermelada-beepure.png"
                width="120"
                height="120"
                alt=" Mermelada"
              />
              <div class="product-item">
                <p class="product-description">
                  Mermelada de frutos del bosque, Beepure. 450gr
                </p>

                <p class="product-price">$600</p>
                <div class="contar">
                  <button class="plus">-</button>
                  <input type="number" name="cantidad" id="cantidad" />
                  <button class="less">+</button>
                </div>
                <div class="product-total">
                  <p class="total-price">TOTAL</p>
                  <p>$600</p>
                  <i class="fas fa-trash-alt"></i>
                </div>
              </div>
            </article>
            <article class="contenedor-articulo">
              <img
                src="/img/veggie-burger-delitas.png"
                width="120"
                height="120"
                alt=" Miel Beepure"
              />
              <div class="product-item">
                <p class="product-description">
                  Hamburguesa veggie de lentejas y arroz yamani, Delitas. 600gr
                </p>

                <p class="product-price">$300</p>
                <div class="contar">
                  <button class="plus">-</button>
                  <input type="number" name="cantidad" id="cantidad" />
                  <button class="less">+</button>
                </div>
                <div class="product-total">
                  <p class="total-price">TOTAL</p>
                  <p>$300</p>
                  <i class="fas fa-trash-alt"></i>
                </div>
              </div>
            </article>
          </section>
          <section class="actualizar">
            <button><i class="fas fa-undo-alt"></i>Actualizar carrito</button>
          </section>
        </div>
        <div class="compra">
          <section class="finalizar-compra">
            <div class="contenedor-compra">
              <h2>Resumen de compra</h2>
              <p>Subtotal</p>
              <p>Costo del envío</p>
              <p class="total-compra">TOTAL</p>
            </div>

            <div class="compra">
              <button class="search-btn">FINALIZAR COMPRA</button>
            </div>
          </section>
          <section class="cupon">
            <i class="fas fa-tags"></i> <label for="codigo"></label>
            <input type="codigo" name="codigo" id="codigo" required />
            <button>Aplicar cupón</button>
          </section>
          <section class="banco">
            <i class="fas fa-credit-card"></i>
            <a href="#">Beneficios Bancarios</a>
          </section>
        </div>
      </div>
    </main>
    <footer>
      <section class="resenias envio">
        <h4><i class="fas fa-truck"></i>Envíos</h4>
        <p>
          Realizamos envíos sin cargo por compras superiores a $2500,en CABA y
          GBA. El costo del envío es de $500 en todo el país.
        </p>
      </section>

      <section class="contacto">
        <h4>Contacto</h4>
        <p><i class="fab fa-whatsapp"></i>137894785</p>
        <p><i class="fas fa-paper-plane"></i>huerto.market@todobien.com</p>
      </section>

      <section class="registro">
        <h4>Registrate</h4>
        <p>Para formar parte de nuestra comunidad. Completá el formulario</p>
        <button class="search-btn"><a href="register">Registrate</a></button>
      </section>

      <section class="redes">
        <img src="/img/fiscal.jpg" weight="70px" height="70px" alt="fiscal" />
        <h4>Seguinos</h4>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-google"></i></a>
      </section>
    </footer>
  </body>
</html>
