<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Productos</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css "
    />

    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/products.css" />
    <link rel="stylesheet" href="/css/footer.css" />
  </head>
  <body>
    <header>
      <div class="header-logo">
        <a href="/" ><img src="/img/Huerto-market.png" alt="Logo" class="logo"/></a>
        <div class="account-container">
          <i class="fas fa-user"></i>
          <a href="/logIn" class="account">Mi cuenta</a>
        </div>
        <div class="cart-container">
          <button type="submit" class="heart">
            <i class="far fa-heart"></i>
          </button>

          <a href="/productCart" class="cart"
            ><i class="fas fa-shopping-cart"></i></a>
        </div>
      </div>
      <nav id="menu">
        <ul class="menu-list">
          <button class="close"><i class="fas fa-times"></i></button>
          <li><a href="/productDetail">Productos</a></li>
          <li><a href="#">Sucursales</a></li>
          <li><a href="#">Nosotros</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="register">Registro</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </nav>
      <div>
        <button id="menu-button"><i class="fas fa-bars burger"></i></button>
      </div>
      <div class="search">
        <div class="search-bar">
          <input type="text" placeholder="Buscar productos" />
        </div>
        <button class="submit lupa"><i class="fa fa-search"></i></button>
      </div>
      <div id="encabezado">
        <i class="fas fa-hand-paper"> </i>AYUDA
        <i class="fas fa-truck"> </i>ENVÍOS
        <i class="fas fa-phone-alt"></i> ATENCIÓN AL CLIENTE
      </div>
    </header>
    <main>
      <section><h1>Productos</h1></section>

      <section class= "contenedor-productos">
        
        <article class="contenedor-articulo">
          <div class="producto">
            <img src="img/icecream.jpg" width="160" height="160" alt="ice-cream" />
        <p>Helados de jugos, Guapaletas.</p>
        <div class="contar">
          <button>-</button>
          <button>+</button>
        </div>
        <p>$260</p>
        <div class="favoritos">
          <i class="fas fa-heart"></i>
        </div>
        <div class="carrito">
        <button><i class="fas fa-shopping-cart"></i>Agregar al carrito</button>
      </div>
        </div>
      </article>

      <article class="contenedor-articulo">
        <div class="producto">
          <img src="/img/muffins.jpeg" width="160" height="160" alt="muffins" />
        <p>Muffins de avena y frutas.</p>
        <div class="contar">
          <button>-</button>
          <button>+</button>
        </div>
        <p>$160</p>
        <div class="favoritos">
          <i class="fas fa-heart"></i>
        </div>
          <div class="carrito">
        <button><i class="fas fa-shopping-cart"></i>Agregar al carrito</button>
      </div>
        </div>
      </article>

<article class="contenedor-articulo">
  <div class="producto">
<img  src="/img/miel-beepure.png" width="160" height="160" alt="Miel Beepure"/>
        <p>Miel líquida, Beepure. 500gr</p>
        <div class="contar">
          <button>-</button>
          <button>+</button>
        </div>
        <p>$360</p>
        <div class="favoritos">
          <i class="fas fa-heart"></i>
        </div>
      <div class="carrito">
        <button><i class="fas fa-shopping-cart"></i>Agregar al carrito</button>
      </div>
  </div>  
</article>
      
<article class="contenedor-articulo">
  <div class="producto">
    <img src="/img/mantequilla-de-coco.png" width="160" height="160" alt=" Mantequilla de coco"/>
        <p>Manteca de Coco, Byour. 185gr</p>
        <div class="contar">
          <button>-</button>
          <button>+</button>
        </div>
        <p>$400</p>
        <div class="favoritos">
          <i class="fas fa-heart"></i>
        </div>
      <div class="carrito">
        <button><i class="fas fa-shopping-cart"></i>Agregar al carrito</button>
      </div>
  </div>   
</article>
     
<article class="contenedor-articulo">
  <div class="producto">
     <img src="/img/mermelada-beepure.png" width="160" height="160" alt="Mermelada"/>
        <p>Mermelada frutos del bosque, Beepure. 450gr</p>
        <div class="contar">
          <button>-</button>
          <button>+</button>
        </div>
        <p>$245</p>
        <div class="favoritos">
          <i class="fas fa-heart"></i>
        </div>
      <div class="carrito">
        <button><i class="fas fa-shopping-cart"></i>Agregar al carrito</button>
      </div>
  </div>
</article>
      
<article class="contenedor-articulo">
<div class="producto">
 <img src="/img/veggie-burger-delitas.png" width="160" height="160" alt="Burger veggie"/>
        <p>Hamburguesa de lentejas y arroz, Delitas. 600gr</p>
        <div class="contar">
          <button>-</button>
          <button>+</button>
        </div>
        <p>$300</p>
        <div class="favoritos">
          <i class="fas fa-heart"></i>
        </div>
      <div class="carrito">
        <button><i class="fas fa-shopping-cart"></i>Agregar al carrito</button>
      </div>
</div>
</article>
      
<article class="contenedor-articulo">
   <div class="producto">
<img src="/img/aceite-coco.png" width="160" height="160" alt="Aceite de Coco"/>
        <p>Aceite de coco neutro, Chiagraal. 180gr.</p>
        <div class="contar">
          <button>-</button>
          <button>+</button>
        </div>
        <p>$380</p>
        <div class="favoritos">
           <i class="fas fa-heart"></i>
        </div>
      <div class="carrito">
        <button><i class="fas fa-shopping-cart"></i>Agregar al carrito</button>
      </div>
   </div>
</article>
     
<article class="contenedor-articulo">
  <div class="producto">
        <img  src="/img/fideos-garbanzo.png" width="160" height="160" alt="Fideos de garbanzo"/>
        <p>Pasta de garbanzos, Legume. 284gr.</p>
        <div class="contar">
          <button>-</button>
          <button>+</button>
        </div>
        <p>$120</p>
        <div class="favoritos">
          <i class="fas fa-heart"></i>
        </div>
      <div class="carrito">
        <button><i class="fas fa-shopping-cart"></i>Agregar al carrito</button>
      </div>
  </div>
</article>
     
<!--<article class="contenedor-articulo">
  <div class="producto">
<img src="/img/jugo-naranja.png" width="160" height="160" alt="Jugo de naranja"/>
        <p> Jugo de Naranja y Durazno, Chiagraal. 250 cc.</p>
        <div class="contar">
          <button>-</button>
          <button>+</button>
        </div>
        <p><strong>$80</strong></p>
        <div class="favoritos">
          <i class="fas fa-heart"></i>
        </div>
      <div class="carrito">
        <button><i class="fas fa-shopping-cart"></i>Agregar al carrito</button>
      </div>
  </div>
</article>-->

 <article class="contenedor-articulo">
   <div class="producto">
<img src="/img/leche-almendras.png"  width="160" height="160" alt="Leche de almendras"/>
        <p>Leche de almedras cremosa, Amande.1L</p>
        <div class="contar">
          <button>-</button>
          <button>+</button>
        </div>
        <p>$160</p>
        <div class="favoritos">
          <i class="fas fa-heart"></i>
        </div>
      <div class="carrito">
        <button><i class="fas fa-shopping-cart"></i>Agregar al carrito</button>
      </div>
   </div>
 </article>
      </section>
      

      <section><h1>Los más vendidos</h1></section>
      <section class ="contenedor-masVendidos">
        <article class="contenedor-articuloA" >
        <img src="/img/pepas.png" width="340" height="240" alt="Pepas organicas"/>
       <div class="contenedor-texto">
        <p>Pepas Organicas, Grun. 160g.</p>
        <div class="contar">
          <button>-</button>
          <button>+</button>
        </div>
        <p>$120</p>
        <div class="favoritos">
               <i class="fas fa-heart"></i>
        </div>
              <div class="carrito">
        <button><i class="fas fa-shopping-cart"></i>Agregar al carrito</button>
      </div>
      </div>
      </article>

 
    
 <article class="contenedor-articuloB">
        <img src="/img/barrita-arroz.png" width="340" height="240" alt="Barritas de arroz"/>
        <div class="contenedor-texto">
          <p>Barritas de arroz con sabor a coco. Crowie.</p>
        <div class="contar">
          <button>-</button>
          <button>+</button>
        </div>
        <p>$25</p>
        <div class="favoritos">
          <i class="fas fa-heart"></i>
        </div>
              <div class="carrito">
        <button><i class="fas fa-shopping-cart"></i>Agregar al carrito</button>
      </div>
        </div>
 </article>
      </section>
     

  <footer>
      <section class="contacto">
        <h4>Contacto</h4>
        <p><i class="fab fa-whatsapp"></i>137894785</p>
        <p><i class="fas fa-paper-plane"></i>huerto.market@todobien.com</p>
      </section>

      <section class="registro">
        <h4>Registrate</h4>
        <p>Para formar parte de nuestra comunidad. Completá el formulario</p>
        <button class="search-btn"><a href="register">Registrate</a></button>
      </section>

      <section class="redes">
        <img src="/img/fiscal.jpg" weight="70px" height="70px" alt="fiscal" />
        <div class="redes-container">
          <h4>Seguinos</h4>
          <div class="redes-icons">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-google"></i></a>
          </div>
        </div>
      </section>
    </footer>
  </body>
</html>
