<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Huerto Market</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css "
    />

    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="stylesheet" href="/css/footer.css" />
  </head>
  <body>
    <header>
      <div class="header-logo">
        <a href="/"
          ><img src="/img/Huerto-market.png" alt="Logo" class="logo"
        /></a>
        <div class="account-container">
          <i class="fas fa-user"></i>
          <a href="/logIn" class="account">Mi cuenta</a>
        </div>
        <div class="cart-container">
          <button type="submit" class="heart">
            <i class="far fa-heart"></i>
          </button>

          <a href="/productCart" class="cart"
            ><i class="fas fa-shopping-cart"></i
          ></a>
        </div>
      </div>
      <nav id="menu">
        <ul class="menu-list">
          <button class="close"><i class="fas fa-times"></i></button>
          <li><a href="/productDetail">Productos</a></li>
          <li><a href="#">Sucursales</a></li>
          <li><a href="#">Nosotros</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="register">Registro</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </nav>
      <div>
        <button id="menu-button"><i class="fas fa-bars burger"></i></button>
      </div>
      <div class="search">
        <div class="search-bar">
          <input type="text" placeholder="Buscar productos" />
        </div>
        <button class="submit lupa"><i class="fa fa-search"></i></button>
      </div>
      <div class="header-image">
        <img src="/img/healthy-lunch-banner.jpg" alt="imagen de header" />
        <div class="header-title">
          <h2>HUERTO MARKET</h2>
          <p>Comer rico hace bien</p>
        </div>
      </div>
      <div id="encabezado">
        <i class="fas fa-hand-paper"> </i>AYUDA
        <i class="fas fa-truck"> </i>ENVÍOS
        <i class="fas fa-phone-alt"></i> ATENCIÓN AL CLIENTE
      </div>
    </header>

    <main>
      <form action="/" method="GET" class="form-menu">
        <h2>Creá tu cuenta</h2>
        <p class="register-text">¿Ya tenés un cuenta?</p>
        <p class="register-text"><a href="/logIn" class="log">ingresá</a></p>

        <div class="form-item">
          <label class="form-label" for="name">Nombre</label>
          <input type="text" required class="form-input" />
        </div>
        <div class="form-item">
          <label for="name" class="form-label">Apellido</label>
          <input type="text" required class="form-input" />
        </div>
        <div class="form-item">
          <label for="email" class="form-label">E-mail</label>
          <input
            type="email"
            name="email"
            id="email"
            required
            class="form-input"
          />
        </div>
        <div class="form-item">
          <label for="password" class="form-label">Contraseña</label>
          <input
            type="password"
            name="password"
            id="password"
            required
            class="form-input"
          />
        </div>
        <div class="form-item">
          <label for="repeat password" class="form-label"
            >Repetir contraseña</label
          >
          <input
            type="password"
            name="repeat-password"
            id="repeat-password"
            class="form-input"
          />
        </div>
        <div class="form-item">
          <input type="checkbox" name="checkbox" id="checkbox" />
          <label class="form-label checkbox-label"
            >Quiero recibir novedades y promociones de Huerta Market</label
          >
        </div>
        <div class="form-item btn-container">
          <button type="submit" class="search-btn register-btn">
            Registrate
          </button>
          <p class="alternativo">o</p>
          <button type="submit" class="search-btn register-btn">
            Registrate con Google
          </button>
        </div>
        <p class="register-text">
          ¿Ya tenés cuenta? <a href="/logIn">Ingresá aquí</a>
        </p>
      </form>
    </main>

    <footer>
      <section class="resenias">
        <h4>Envíos</h4>
        <p>Realizamos envíos sin cargo por toda la cuidad</p>
      </section>

      <section class="contacto">
        <h4>Contacto</h4>
        <p><i class="fab fa-whatsapp"></i>137894785</p>
        <p><i class="fas fa-paper-plane"></i>huerto.market@todobien.com</p>
      </section>

      <section class="registro">
        <h4>Registrate</h4>
        <p>Para formar parte de nuestra comunidad. Completá el formulario</p>
        <button class="search-btn"><a href="register">Registrate</a></button>
      </section>

      <section class="redes">
        <img src="/img/fiscal.jpg" weight="70px" height="70px" alt="fiscal" />
        <h4>Seguinos</h4>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-google"></i></a>
      </section>
    </footer>
  </body>
</html>
