* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  background-color: #fccb1a;
}

.header-logo {
  text-align: center;
}

.logo {
  border-radius: 50%;
  padding: 20px;
}

.header-logo img {
  width: 45%;
  text-align: center;
}

nav li {
  list-style-type: none;
  color: #363945;
}
nav a {
  text-decoration: none;
}

#encabezado {
  color: #0a3409;
  background-color: #559e54;
  text-align: center;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  padding: 14px;
}

#menu-button {
  text-align: left;
  background-color: #0a3409;
  color: white;
  padding: 10px;
}
