* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  background-color: #ec9f00;
}

.logo {
  border-radius: 40%;
  padding: 20px;
}

.logo {
  width: 20%;
  text-align: center;
  position: absolute;
  margin-left: 40%;
}

nav li {
  list-style-type: none;
  color: #363945;
}
nav a {
  text-decoration: none;
}
