main {
  background-color: #fef9ec;
}
h2 {
  font-family: "Yusei Magic", sans-serif;
}

.products h2 {
  text-align: center;
}

.noticias h3 {
  font-family: "Yusei Magic", sans-serif;
}

.sucursales h2 {
  text-align: center;
}
