main {
  background-color: #fef9ec;
  font-size: 14px;
}
h2 {
  font-family: "Yusei Magic", sans-serif;
  margin: 0px;
}

.products h2 {
  text-align: center;
  padding: 20px;
  font-size: 24px;
  color: #0c5d5e;
}

.product-article {
  padding: 10px;
  border: 2px solid #0c5d5e;
  margin: 10px;
  text-align: center;
}

.product-article img {
  width: 100%;
  text-align: center;
}

.product-article p {
  padding: 15px;
}

.product-article button {
  background-color: #ec9f00;
  padding: 5px;
  border-radius: 10%;
}

.product-article button:hover {
  box-shadow: 2px 2px 5px #0c5d5e;
}

.product-article button a {
  color: #0c5d5e;
  font-weight: 500;
}

.container {
  position: relative;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

.product-section img {
  width: 90%;
  border: 2px solid #0c5d5e;
}

.descripcion-producto {
  background-color: rgba(12, 93, 94, 0.4);
  padding: 15px;
  width: 70%;
  text-align: center;
  margin: auto;
  z-index: 10;
  position: absolute;
  bottom: 30%;
  left: 15%;
}

.descripcion-producto p {
  color: #fef9ec;
}

.descripcion-producto button {
  background-color: #ec9f00;
  padding: 5px;
  border-radius: 10%;
}

.descripcion-producto button:hover {
  box-shadow: 2px 2px 5px #0c5d5e;
}

.descripcion-producto button a {
  color: #0c5d5e;
  font-weight: 500;
}
.carrousel-conteiner {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.slide {
  display: none;
}
.slide img {
  width: 100%;
}

.pre .sig {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.sig {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slide p {
  color: #0c5d5e;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.quienes-somos {
  text-align: center;
  padding: 20px;
  margin: 10px;
}

.quienes-somos h2 {
  color: #ec9f00;
}

.quienes-somos h4 {
  font-family: "Yusei Magic", sans-serif;
  padding: 10px;
  margin: 10px;
  color: #ec9f00;
  text-decoration: #0c5d5e underline;
  font-size: 20px;
}

.noticias {
  text-align: center;
}
.noticias h3 {
  font-family: "Yusei Magic", sans-serif;
  padding: 20px;
  color: #0c5d5e;
}

.news-container {
  position: relative;
}
.noticias img {
  width: 300px;
}

.news-img {
  position: absolute;
  top: -20px;
  left: 100px;
  z-index: 10;
}
.news-article {
  background-color: #a0daa9;
  padding: 200px 20px 20px 100px;
  margin-top: 30px;
  margin-left: 40px;
}

.news-article p {
  color: #0c5d5e;
}

.sucursales {
  margin: 10px;
  padding: 10px;
}
.sucursales h2 {
  text-align: center;
}

.sucursal-article {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}

.sucursal-article2 {
  text-align: right;
  display: flex;
  flex-wrap: wrap;
}
