h2 {
  text-align: center;
  font-family: "Yusei Magic", sans-serif;
  font-size: 24px;
  color: #fba90a;
  padding-bottom: 25px;
  padding-top: 70px;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 20px;
}

h1 {
  font-family: "Yusei Magic", sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  /* color: orange;*/
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  text-align: center;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.articulo {
  width: "360";
  height: "360";
  border: 2px solid #0c5d5e;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
}
.envios {
  text-align: center;
  width: 45%;
  border: 2px solid #0c5d5e;
  padding: 15px;
  margin: auto;
  bottom: 30%;
  left: 15%;
}

/*BOTONES*/
.compra button {
  padding: 3px;
  text-align: center;
  margin: 30px;
  font-size: 14px;
}

.cantidad button {
  padding: 5px;
  text-align: center;
  margin: 20px;
  font-size: 14px;
  color: grey;
}
.carrito button {
  background-color: #0c5d5e;
  padding: 10px;
  box-shadow: 2px 2px 5px black(102, 66, 0);
  color: white;
  text-align: center;
}
