/*BOTONES - iconos*/

h3 {
  text-align: center;
  padding: 20px;
  color: #0c5d5e;
}

.favoritos i {
  color: #ec9f00;
  padding: 10px;
  font-size: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.product-article {
  position: relative;
}

.product-article img {
  max-height: 300px;
}

.price {
  font-weight: bold;
  color: #0c5d5e;
}

.contenedor-masVendidos {
  padding: 10px;
  border: 2px solid #0c5d5e;
  margin: 10px;
  text-align: center;
  position: relative;
}

.contenedor-masVendidos img {
  width: 100%;
  text-align: center;
}

@media (min-width: 760px) {
  .contenedor-masVendidos {
    display: flex;
    border: none;
  }

  .contenedor-masVendidos img {
    width: 45%;
  }

  .contenedor-texto {
    align-self: center;
    padding: 20px;
    margin: 30px;
  }

  .imagen {
    order: 2;
  }
}

@media (min-width: 1200px) {
  .product-article {
    width: 23%;
  }
}
