/*posicionamiento flex

.contenedor-productos {
  display: flex;
  flex-wrap: wrap;
}

.producto {
  padding: 10px;
  border: 2px solid #0c5d5e;
  margin: 10px;
  text-align: center;
  width: 80%;
}

.producto p {
  padding: 10px;
}

.producto img {
  text-align: center;
}

.contenedor-articulo {
  display: flex;
  padding: 10px;
  margin: 10px;
  justify-content: space-around;
  align-items: stretch;
}

.contenedor-masVendidos {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 150px;
}

.contenedor-articuloA {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.contenedor-texto {
  position: relative;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
  width: 40%;
}

.contenedor-articuloB {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}*/

/*BOTONES - iconos*/

h3 {
  text-align: center;
  padding: 20px;
  color: #0c5d5e;
}

.favoritos i {
  color: #ec9f00;
  padding: 10px;
  font-size: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.product-article {
  position: relative;
}

.product-article img {
  max-height: 300px;
}

.price {
  font-weight: bold;
  color: #0c5d5e;
}

.contenedor-masVendidos {
  padding: 10px;
  border: 2px solid #0c5d5e;
  margin: 10px;
  text-align: center;
  position: relative;
}

.contenedor-masVendidos img {
  width: 100%;
  text-align: center;
}

@media (min-width: 760px) {
  .contenedor-masVendidos {
    display: flex;
    border: none;
  }

  .contenedor-masVendidos img {
    width: 45%;
  }

  .contenedor-texto {
    align-self: center;
    padding: 20px;
    margin: 30px;
  }

  .imagen {
    order: 2;
  }
}

@media (min-width: 1200px) {
  .product-article {
    width: 23%;
  }
}
