/*.header{
    background-color: #F7EBD4;
    padding: 10px; 
    text-align: center;
}

#logo{
    padding: 20px;
}
.input{
    text-align: right;
    outline-style: solid;
}
#menu-button{
    text-align: left;
    background-color:#0A3409;
    color:white;
    padding: 10px;
    }

#encabezado {
color:#0A3409;
background-color: #559E54;
text-align: center;
font-size: 14px;
font-family: 'Poppins', sans-serif;
padding: 14px;
}*/

#texto {
  font-family: "Poppins", sans-serif;
  text-align: left;
  font-size: 14px;
  color: black;
  background-color: #f7ebd4;
}

#titulo {
  text-align: left;
  padding: 0px;
  font-family: "Yusei Magic", sans-serif;
  font-size: 18px;
  color: #fba90a;
}

#detalle {
  text-align: center;
}
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-align: left;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.compra button {
  background-color: #ec9f00;
  padding: 15px;
  box-shadow: 2px 2px 5px black;
  border-radius: 50%;
  color: #0c5d5e;
}

.cupon button {
  background-color: #fccb1a;
  padding: 5px;
  box-shadow: 2px 2px 5px black;
  border-radius: 5%;
  color: black;
}

/*
.contacto{
background-color: #FBA90A;
}
.envios{
background-color: #559E54;
}

.registro{
background-color:#F7EBD4;
}

.redes{
background-color:#0A3409 ;
}*/
