#texto {
  font-family: "Poppins", sans-serif;
  text-align: left;
  font-size: 14px;
  color: black;
  background-color: #f7ebd4;
}

#titulo {
  font-family: "Yusei Magic", sans-serif;
  font-size: 18px;
  color: #fba90a;
}

#detalle {
  text-align: center;
}

h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-align: left;
  font-weight: bold;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.contenedor-titulo {
  display: flex;
  align-items: flex-start;
  padding-top: 60px;
  padding-bottom: 30px;
  padding-left: 10px;
  text-align: center;
}

.contenedor-subtitulos {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}
.contenedor-articulo {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 60px;
  padding-left: 40px;
  padding-right: 40px;
}

.contenedor-compra {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.envios {
  text-align: center;
  width: 45%;
  border: 2px solid #0c5d5e;
  padding: 20px;
  margin: auto;
  bottom: 30%;
  left: 15%;
}

/*BOTONES*/
.compra button {
  background-color: #ec9f00;
  padding: 16px;
  box-shadow: 2px 2px 5px black(102, 66, 0);
  color: #0c5d5e;
  font-weight: bold;
  border-radius: 10%;
}

.cupon button {
  background-color: #0c5d5e;
  padding: 5px;
  box-shadow: 2px 2px 5px black(102, 66, 0);
  color: white;
}

.actualizar button {
  background-color: #0c5d5e;
  padding: 8px;
  box-shadow: 2px 2px 5px black(102, 66, 0);
  color: white;
  text-align: center;
}

.volver button {
  background-color: #0c5d5e;
  padding: 8px;
  box-shadow: 2px 2px 5px black(102, 66, 0);
  color: white;
  text-align: center;
}

.contar button {
  padding: 3px;
  text-align: center;
  margin: 10x;
  font-size: 14px;
}

.finalizar-compra {
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 50px;
}
