/*Estilos*/
h1 {
  font-family: "Yusei Magic", sans-serif;
  font-size: 24px;
  color: #fba90a;
  text-align: center;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: black;
}

.body {
  background-color: #fef9ec;
}

/*posicionamiento flex*/

.contenedor-productos {
  display: flex;
  flex-wrap: wrap;
}

.producto {
  padding: 10px;
  border: 2px solid #0c5d5e;
  margin: 10px;
  text-align: center;
  width: 80%;
}

.producto p {
  padding: 10px;
}

.producto img {
  text-align: center;
}

.contenedor-articulo {
  display: flex;
  padding: 10px;
  margin: 10px;
  justify-content: space-around;
  align-items: stretch;
}

.contenedor-masVendidos {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 150px;
}

.contenedor-articuloA {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.contenedor-texto {
  position: relative;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
  width: 40%;
}

.contenedor-articuloB {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

/*BOTONES - iconos*/

.cantidad button {
  padding: 5px;
  text-align: center;
  margin: 20px;
  font-size: 14px;
  color: grey;
}
.carrito button {
  background-color: #0c5d5e;
  padding: 8px;
  box-shadow: 2px 2px 5px black(102, 66, 0);
  color: white;
  text-align: center;
}

.favoritos i {
  color: #0c5d5e;
  padding: 10px;
  font-size: 20px;
}
