h2 {
  text-align: center;
  font-family: "Yusei Magic", sans-serif;
  font-size: 18px;
  color: #fba90a;
  padding-bottom: 25px;
  padding-top: 70px;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 20px;
  margin-top: 10px;
  color: #0c5d5e;
  text-decoration: underline;
}

h1 {
  font-family: "Yusei Magic", sans-serif;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}

p {
  font-size: 13px;
  text-align: center;
  padding-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

.articulo {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.articulo img {
  width: 90%;
}

.detail-text .price {
  font-weight: bold;
  color: #0c5d5e;
  padding: 15px;
}
.envios {
  text-align: center;
  padding: 15px;
  margin: auto;
  bottom: 30%;
  left: 5%;
  right: 5%;
}

.envios h3 {
  padding-bottom: 0px;
  padding-top: 40px;
}

/*BOTONES*/

.cantidad button {
  padding: 5px;
  text-align: center;
  margin: 20px;
  font-size: 14px;
  color: grey;
}

.carrito {
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.carrito .search-btn {
  padding: 10px;
}

.carrito .search-btn i {
  padding-right: 5px;
}

.contar input {
  width: 30px;
  height: 30px;
}
@media (min-width: 760px) {
  .carrito button {
    top: 1200px;
  }

  .articulo img {
    width: 40%;
  }

  .detail-text {
    align-self: center;
  }
}

@media (min-width: 1200px) {
  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 20px;
  }

  .detalle p {
    font-size: 18px;
  }

  .articulo {
    margin-left: 100px;
    margin-right: 100px;
  }
  .envios {
    width: 45%;
    left: 15%;
    right: 15%;
  }

  .carrito .search-btn {
    font-size: 16px;
  }
}
