.form-menu {
  width: 100%;
  height: auto;
  font-size: 14px;
  margin: auto;
  box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
  padding: 2%;
  position: relative;
  padding-top: 40px;
}

h2 {
  font-family: "Yusei Magic", sans-serif;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  color: #fba90a;
}
.log-title {
  color: #0c5d5e;
}
.user {
  text-align: center;
  font-size: 30px;
  background-color: #fba90a;
  border-radius: 50%;
  color: #0c5d5e;
  margin-left: 75px;
  margin-right: 75px;
}

.register-text {
  text-align: center;
}

.form-item,
.log-item {
  padding: 10px;
}

.form-input {
  padding: 4px;
  border-radius: 5%;
  border: #fba90a 0.5px solid;
  display: block;
  width: 100%;
}

.log-item .form-input {
  display: inline;
  width: initial;
}

.log-item {
  text-align: center;
}

.btn-container {
  text-align: center;
}

.checkbox-label {
  display: inline;
}

.forget-pass {
  text-align: center;
  padding: 20px;
}

.forget-pass a {
  color: #0c5d5e;
}

/* PRODUCT CHARGE */
.check {
  display: inline-flex;
}

/*USER PROFILE*/
.titulo-principal h1 {
  background-color: #ec9f00;
  opacity: 0.5;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.modificar-datos button {
  background-color: #ec9f00;
  color: #0c5d5e;
  border-bottom: #0c5d5e solid 3px;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  padding: 5px;
  letter-spacing: 1px;
  word-spacing: 1px;
}

.pedidos {
  margin-top: 80px;
  margin-bottom: 60px;
}

.categorias {
  border-top: #fba90a 0.5px solid;
  border-bottom: #fba90a 0.5px solid;
  margin-top: 15px;
  margin-bottom: 15px;
}

.categorias p {
  padding: 10px;
  margin-left: 20px;
  margin-top: 20px;
  font-weight: bold;
}

@media (min-width: 760px) {
  .form-menu {
    width: 60%;
  }
  .user {
    margin-right: 25%;
    margin-left: 25%;
  }

  .forget-pass {
    border-bottom: 1px solid #0c5d5e;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 10px;
  }

  /*USER PROFILE*/
  .categorias p {
    margin-left: 60px;
    margin-right: 60px;
  }
}
@media (min-width: 1200px) {
  .form-menu {
    width: 50%;
  }

  /*USER PROFILE*/
  .categorias p {
    margin-left: 150px;
  }
}
