<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/css/other-pages.css" />
  </head>

  <body class="help-container">
    <main>
      <section class="error-container">
        <article class="gif">
          <a href="/"><img src="/img/huerto-gif.gif" alt="gif" /></a>
        </article>
        <article class="error">
          <img src="/img/error-404.png" alt="error" />
        </article>
      </section>
    </main>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
